.dashWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .top {
    border-radius: 10px;
    padding: 10px 20px;
    .heading {
      font-size: 32px;
    }
    .subHeading {
      font-size: 18px;
      color: rgb(56, 56, 56);
    }
    background-color: white;
  }
  .featured {
    display: flex;
    width: 100%;
    .cardHolder {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 5px;
      flex-direction: column;
      .upcomming,
      .current,
      .renew {
        display: flex;
        padding: 10px 20px;
        width: calc(100% - 40px);
        min-height: 30px;
        background-color: white;
        border-radius: 10px;
        flex-direction: column;
        gap: 10px;
        .heading{
          font-weight: 700;
        }
        .dataWrapper{
          display: flex;
          gap: 20px;
          span{
            min-width: 200px;
          }
        }
      }
      .upcomming{
        background-color: rgb(135, 247, 255);
      }
      .current{
        background-color: rgb(255, 255, 92);
      }
      .renew{
        background-color: rgb(255, 199, 95);
      }
    }
  }
  .appointments {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    .top {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      .filter {
        select {
          background-color: white;
          outline: none;
          padding: 5px 10px;
          border-radius: 10px;
          option {
            background-color: white;
          }
        }
      }
    }
    .dataContainer {
        display: flex;
        width: 100%;
        justify-content: center;
      table {
        border-spacing: 0px 5px;
        border: 0;
        width: calc(100% - 40px);
        tbody {
          tr {
            td {
              min-width: fit-content;
              text-align: left;
              max-width: fit-content;
              padding: 5px;
              &:first-child{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                // padding-left: 30px;
              }
              &:last-child{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
          }
          .heading {
            td{
                font-weight: 700;
                padding-bottom: 20px;
            }
          }
          .values{
            padding: 10px 20px;
            height: 50px;
            border-radius: 20px;
            color: rgb(77, 77, 77);
            transition: all .3s;
            cursor: pointer;
            .status{
                border-radius: 20px;
                padding: 5px 10px;
                background-color: rgb(233, 233, 233);
                transition: all .3s;
            }
            &:hover{
                background-color: rgb(233, 233, 233);
                color: black;
                .status{
                    background-color: black;
                    color: white;
                }
            }
          }
        }
      }
    }
  }
}
