.navParent{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    // background-color: black;
    // color: white;
    align-items: center;
    font-size: 18px;
    .logoWrapper{
        display: flex;
        align-items: center;
        width: 170px;
        img{
            width: 100%;
        }
    }
    .dataWrapper{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .btnWrapper{
        box-sizing: border-box;
        padding: 2px 20px;
        border-radius: 40px;
        &:first-child{
            border: 2px solid white;
        }
        &:last-child{
            border: 2px solid white;
            background-color: 
            #FF4057;
            color: white;
        }
    }
}